
* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.clearleft, .clearl, .cleft {
    clear: left;
}
.clearright, .clearr, .cright {
    clear: right;
}
.clear, .clearboth, .clearall {
    clear: both;
}
.floatleft, .fleft, .floatl {
    float: left;
    margin: 0 10px 5px 0;
}
.floatright, .fright, .floatr {
    float: right;
    margin: 0 0 5px 10px;
}

.floe #skip a, .floe #skip a:hover, .floe #skip a:visited {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
.floe #skip a:active, #skip a:focus {
    height: auto;
    position: static;
    width: auto;
}
.floe #navigation {
    height: 28px;
}

div.view div.views-admin-links {
    width: auto;
}
div.block {
    position: relative;
}
div.block .edit {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    font-size: 10px;
    line-height: 16px;
    padding: 3px 8px 0;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
}
div.block .edit a {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
}
div.block:hover .edit {
    display: block;
}
.wireframe-mode #header, .wireframe-mode #content-top, .wireframe-mode #content-top > *, .wireframe-mode #content-header, .wireframe-mode #content-header > *, .wireframe-mode #content-area, .wireframe-mode #content-area > *, .wireframe-mode #content-bottom, .wireframe-mode #content-bottom > *, .wireframe-mode #primary, .wireframe-mode #secondary, .wireframe-mode #sidebar-left-inner, .wireframe-mode #sidebar-right-inner, .wireframe-mode .block {
    border: 1px solid #BBBBBB;
    padding: 2px;
}
.wireframe-mode .node {
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 10px;
}
.wireframe-mode .block {
    margin-bottom: 3px;
}
.wireframe-mode #content-top, .wireframe-mode #content-header, .wireframe-mode #content-area, .wireframe-mode #content-bottom {
    margin: 0 3px 3px;
}
.wireframe-mode #footer {
    border: 1px solid #CCCCCC;
    margin-top: 3px;
    padding: 2px;
}
.wireframe-mode.with-navigation #content, .wireframe-mode.with-navigation .sidebar {
    margin-top: 50px;
}
.wireframe-mode #navigation {
    height: 50px;
}
