
/* A11y Sprint styles */

body {
    background-color: rgb(254, 206, 136); /* orange-yellow */
    min-width: 40em;
}

body, h1, h2{
    color: #633b5e; /* purple */
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-weight: bold;
}

a.external {
    font-weight: bold;
}

footer, header {
    background-color: rgb(254, 206, 136); /* orange-yellow */
    width: 100%;
    clear:both;
}

button:focus,
a:focus {
    outline: 0.2rem solid #000;
}

header h1 {
    margin: 0;
    padding: 1rem 0;
    font-weight: normal;
    font-size: 2rem;
}

nav a {
    margin: 0.5rem 0 0.2rem 0;
    color: #144f4d; /* dark blue */
    text-decoration: none;
}

.sprint-columns{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.signup-skills,
.about,
.agenda,
.partners,
.resources {
    padding: 2rem 5rem;
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
    .sprint-columns{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    .signup-skills,
    .about,
    .agenda,
    .partners,
    .resources {
        padding: 5rem 20rem;
    }
}

.circle {
    position: relative;
    border-radius: 100rem;
}

.purple-box {
    background-color: rgba(99,59,94,0.8);
    width: 38rem;
}

.purple-circle {
    background-color: rgba(99,59,94,0.8);
    min-height: 35rem;
    min-width: 35rem;
}

.blue-circle {
    background-color: #4197A7; /* blue */
    height: 30rem;
    width: 30rem;
}

.yellow-circle {
    background-color: #fece88; /* yellow */
    height: 16rem;
    width: 16rem;
}

header.show-for-large-up nav a {
    font-weight: bold;
}

header.hide-for-large-up nav {
    background-color: #fff;
}

header.hide-for-large-up .title{
    margin-left:0.2rem;
}
header.hide-for-large-up h1,
header.hide-for-large-up nav {
    padding: 1rem 0.5rem;
}

header.hide-for-large-up nav a{
    font-size: 1.5rem;
}

.title {
    padding:0;
}

.title-logo {
    margin-top:1.2rem;
    margin-right:0.7rem;
}

.title-logo-purple-circle {
    background-color: rgba(99,59,94,0.7); /* purple */
    width:1.5rem;
    height:1.5rem;
}

.title-logo-red-circle {
    background-color: rgba(241,128,137,0.7); /* red */
    width:1rem;
    height:1rem;
    top:-1.3rem;
    left:1rem;
}

.title-logo-blue-circle {
    background-color: rgba(65,151,167,0.7); /* blue */
    width:1.8rem;
    height:1.8rem;
    top:-1.8rem;
    left:0.4rem;
}

.introduction {
    clear: both;
    background-image: url('../images/sprint/colin_mouse_edited.jpg');
    background-size: cover;
    height: 61rem;
    background-position: center;
}

.introduction h2,
.introduction p {
    color: #dff2f8; /*robin's egg blue*/
}

.introduction .purple-box {
    top: 10rem;
    padding: 1.5rem;
    position: relative;
    margin: 0 auto;
}

.circles-intro {
    background-image: url("../images/sprint/circles-intro.png");
    background-size: 18rem auto;
    width: 18rem;
    height: 19rem;
    background-repeat: no-repeat;
    position:relative;
    top: 18rem;
    margin: 0  auto;
    left: -16rem;
    z-index:1;
}

.intro-meta {
    color: #fff;
    margin-bottom: 1rem;
    margin-left: 10rem;
}

.date, .location {
    display:block;
}

.signup p,
.signup h2 {
    color: #fece88; /* yellow */
}

.signup h2 {
    margin-left: 5rem;
}

.signup .purple-box {
    padding: 2rem;
    top:-12rem;
    position:relative;
    width: 34rem;
    margin: 0 auto;
}

.circles-signup {
    margin: 0 auto;
    background-image: url("../images/sprint/circles-signup.png");
    background-size: 18rem auto;
    width: 18rem;
    height: 20rem;
    background-repeat: no-repeat;
    position:relative;
    top: -7rem;
    left: -17rem;
    z-index:1;
}

.signup-background{
    background-image: url('../images/sprint/yura_progs_edited.jpg');
    background-size: 120% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 41rem;
}

.signup a {
    color: #fff;
    text-decoration: underline;
}

.signup a:hover {
    color: #633b5e; /*purple */
    background-color: #fece88;
}

.signup-skills,
.about {
    background-color: #fff;
    padding: 5rem 10rem;
}

.about {
    padding-bottom: 7rem;
}

.about p,
.about ul {
    /*line-height: 2.2rem;*/
}

.partners a:hover {
    background-color: #633b5e; /*purple*/
}

a .partner-org {
    color: #144f4d;
}

a .partner-attendee {
    color: #221f20;
}

a:hover .partner-org {
    color: #fece88;
}

a:hover .partner-attendee {
    color: #fff;
}

.about ul {
    margin-left: 4rem;
}

.agenda h1,
.agenda h2 {
    color: #ffffff;
}

.agenda h2 {
    padding-top: 2rem;
}

.agenda {
    background-color: rgb(56,158,171);
}

.agenda table {
    width: 38rem;
    max-width: 60rem;
    margin: 0 auto;
}

.agenda .time,
.agenda .locations {
    width: 10rem;
}

.agenda tr {
    border: 0.2rem solid #389EAB;
    height: 3rem;
}

.agenda th {
    background-color: #623a5e;
    color: #fff;
}

.agenda td {
    background: #fff;
    vertical-align: top;
}

.agenda .agenda-break td {
    background-color: #fce6ca;
}

.agenda p,
.agenda a,
.agenda figcaption {
    color: #fff;
}

.agenda a {
    text-decoration: underline;
}

.agenda a:hover {
    background-color: #fff;
    color: rgb(56,158,171);
}

.agenda a:focus {
    outline-color: #fff;
}

.agenda .axsmap {
    margin: 0 auto;
    display:block;
    width: 38rem;
    height: auto;
}

.agenda ul {
    margin-left: 4rem;
    color: #fff;
}

#axsmap-image {
    background-image: url("../images/sprint/axsmap.png");
    background-size: 100% auto;
    height: 24rem;
    width: 38rem;
}

.resources {
    background-color: #fff;
}
.resources .sprint-columns {
    padding: 1rem 5rem;
}

footer {
    text-align: center;
    padding: 2rem 0 4rem 0;
}

.footer-logos {
    min-width: 40rem;
    margin: 0 auto;
}

.footer-logos a {
    display: inline-block;
    width: 13rem;
}

.footer-logos div {
    height: 6rem;
    width: 10rem;
    margin: 0 auto;
}

div[role="img"] {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-position: center;
}

#idi-logo {
    background-image: url("../images/sprint/idi.png");
}

#idrc-logo {
    background-image: url("../images/sprint/idrc.png");
}

#nroc-logo {
    background-image: url("../images/sprint/nroc.png");
}

#hewlett-logo {
    background-image: url("../images/sprint/hewlett.png");
}

#floe-logo {
    background-image: url("../images/sprint/floe.png");
}

/* Contrast themes */
.fl-theme-yb a:focus {
    outline-color: #ffff00;
}

.fl-theme-wb a:focus {
    outline-color: #ffffff;
}

.fl-theme-lgdg a:focus {
    outline-color: #bdbdbb;
}

.fl-theme-bw .introduction,
.fl-theme-bw .signup-intro,
.fl-theme-by .introduction,
.fl-theme-by .signup-intro,
.fl-theme-bw .agenda,
.fl-theme-by .agenda {
    border-color: #000000 !important;
}
.fl-theme-yb .introduction,
.fl-theme-yb .signup-intro,
.fl-theme-yb .agenda {
    border-color: #ffff00 !important;
}
.fl-theme-wb .introduction,
.fl-theme-wb .signup-intro,
.fl-theme-wb .agenda {
    border-color: #ffffff !important;
}
.fl-theme-lgdg .introduction,
.fl-theme-lgdg .signup-intro,
.fl-theme-lgdg .agenda {
    border-color: #bdbdbb !important;
}
.fl-theme-bw .intro-blurb,
.fl-theme-wb .intro-blurb,
.fl-theme-by .intro-blurb,
.fl-theme-yb .intro-blurb,
.fl-theme-lgdg .intro-blurb,
.fl-theme-bw .signup-blurb,
.fl-theme-wb .signup-blurb,
.fl-theme-by .signup-blurb,
.fl-theme-yb .signup-blurb,
.fl-theme-lgdg .signup-blurb {
    top: 0;
}
.fl-theme-bw .introduction,
.fl-theme-wb .introduction,
.fl-theme-by .introduction,
.fl-theme-yb .introduction,
.fl-theme-lgdg .introduction,
.fl-theme-bw .signup-background,
.fl-theme-wb .signup-background,
.fl-theme-by .signup-background,
.fl-theme-yb .signup-background,
.fl-theme-lgdg .signup-background,
.fl-theme-bw .agenda,
.fl-theme-wb .agenda,
.fl-theme-by .agenda,
.fl-theme-yb .agenda,
.fl-theme-lgdg .agenda {
    background-image: none;
}

.fl-theme-bw .introduction,
.fl-theme-wb .introduction,
.fl-theme-by .introduction,
.fl-theme-yb .introduction,
.fl-theme-lgdg .introduction {
    height: 40rem;
}
.fl-theme-bw .signup-intro, .fl-theme-wb .signup-intro,
.fl-theme-by .signup-intro, .fl-theme-yb .signup-intro,
.fl-theme-lgdg .signup-intro {
    height: 20em;
}
.fl-theme-bw .agenda, .fl-theme-wb .agenda,
.fl-theme-by .agenda, .fl-theme-yb .agenda,
.fl-theme-lgdg .agenda {
    padding: 2em 10em;
}

.fl-theme-bw .signup-background,
.fl-theme-wb .signup-background,
.fl-theme-by .signup-background,
.fl-theme-yb .signup-background,
.fl-theme-lgdg .signup-background {
    height: auto;
}

.fl-theme-bw .circles-signup,
.fl-theme-wb .circles-signup,
.fl-theme-by .circles-signup,
.fl-theme-yb .circles-signup,
.fl-theme-lgdg .circles-signup,
.fl-theme-bw .circles-intro,
.fl-theme-wb .circles-intro,
.fl-theme-by .circles-intro,
.fl-theme-yb .circles-intro,
.fl-theme-lgdg .circles-intro {
    background: none;
    z-index:0;
}

.fl-theme-bw #idi-logo,
.fl-theme-by #idi-logo {
    background-image: url("../images/sprint/bw-idi.png");
}

.fl-theme-wb #idi-logo{
    background-image: url("../images/sprint/wb-idi.png");
}

.fl-theme-yb #idi-logo{
    background-image: url("../images/sprint/yb-idi.png");
}

.fl-theme-lgdg #idi-logo{
    background-image: url("../images/sprint/lgdg-idi.png");
}

.fl-theme-bw #idrc-logo,
.fl-theme-by #idrc-logo {
    background-image: url("../images/sprint/bw-idrc.png");
}

.fl-theme-wb #idrc-logo{
    background-image: url("../images/sprint/wb-idrc.png");
}

.fl-theme-yb #idrc-logo{
    background-image: url("../images/sprint/yb-idrc.png");
}

.fl-theme-lgdg #idrc-logo{
    background-image: url("../images/sprint/lgdg-idrc.png");
}

.fl-theme-bw #nroc-logo,
.fl-theme-by #nroc-logo {
    background-image: url("../images/sprint/bw-nroc.png");
}

.fl-theme-wb #nroc-logo{
    background-image: url("../images/sprint/wb-nroc.png");
}

.fl-theme-yb #nroc-logo{
    background-image: url("../images/sprint/yb-nroc.png");
}

.fl-theme-lgdg #nroc-logo{
    background-image: url("../images/sprint/lgdg-nroc.png");
}

.fl-theme-bw #hewlett-logo,
.fl-theme-by #hewlett-logo {
    background-image: url("../images/sprint/bw-hewlett.png");
}

.fl-theme-wb #hewlett-logo{
    background-image: url("../images/sprint/wb-hewlett.png");
}

.fl-theme-yb #hewlett-logo{
    background-image: url("../images/sprint/yb-hewlett.png");
}

.fl-theme-lgdg #hewlett-logo{
    background-image: url("../images/sprint/lgdg-hewlett.png");
}

.fl-theme-bw #floe-logo,
.fl-theme-by #floe-logo {
    background-image: url("../images/sprint/bw-floe.png");
}

.fl-theme-wb #floe-logo{
    background-image: url("../images/sprint/wb-floe.png");
}

.fl-theme-yb #floe-logo{
    background-image: url("../images/sprint/yb-floe.png");
}

.fl-theme-lgdg #floe-logo{
    background-image: url("../images/sprint/lgdg-floe.png");
}

.fl-theme-bw #axsmap-image {
    background-image: url("../images/sprint/bw-axsmap.png");
}

.fl-theme-by #axsmap-image {
    background-image: url("../images/sprint/by-axsmap.png");
}

.fl-theme-wb #axsmap-image{
    background-image: url("../images/sprint/wb-axsmap.png");
}

.fl-theme-yb #axsmap-image{
    background-image: url("../images/sprint/yb-axsmap.png");
}

.fl-theme-lgdg #axsmap-image{
    background-image: url("../images/sprint/lgdg-axsmap.png");
}

/* UIO Tweaks */
.fl-prefsEditor-separatedPanel-iframe {
    width: 100%;
}

.sprint table td {
    font-size: 1rem;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset,
.sprint .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    min-height: 2.5rem;
}

.sprint p,
.sprint h1,
.sprint h2,
.sprint ul,
.sprint td
 {
    line-height: inherit;
    /* UIO line space adjuster does not work with Foundation.
       To work around this, specify line-height to inherit from
       the parent. */
}
