
/* A11y Sprint styles */

header {
    height: 4em;
    background-color: rgb(254,206,131);
}
header h1 {
    float: left;
    padding-left: 3em;
}
nav {
    float: right;
}
nav li {
    display: inline;
}
nav a {
    padding-right: 1em;
    color: #000000;
    text-decoration: none;
}
nav a:hover,
nav a:focus {
    font-weight: bold;
}

.introduction {
    clear: both;
    background-image: url('../images/sprint/colin_mouse_edited.jpg');
    background-size: cover;
    height: 60em;
    background-position: center;
}
.circle {
    position: relative;
    opacity: 0.5;
    float: left
}
.blue-circle {
    background-color: rgb(56,158,171);
    height: 30em;
    width: 30em;
    border-radius: 15em;
    top: 9em;
    left: 6em;
}
.red-circle {
    background-color: red;
    height: 26em;
    width: 26em;
    border-radius: 13em;
    top: 16em;
    left: -30em;
}
.yellow-circle {
    background-color: rgb(254,206,131);
    height: 16em;
    width: 16em;
    border-radius: 8em;
    top: 6em;
    left: -18em;
}
.intro-blurb,
.signup-blurb {
    opacity: 0.9;
    color: #ffffff;
    background-color: #000000;
    height: 17em;
    width: 22em;
    position: relative;
    top: 10em;
    left: 30em;
    padding: 1em 1em 2em 1em;
}

.about {
    padding: 5em 10em;
}
.signup-skills {
    padding: 1em 10em 5em 10em;
}
.agenda {
    padding: 5em 10em;
}
.partners {
    padding: 5em 10em;
}
.about h1,
.agenda h1,
.partners h1 {
    margin-left: 3em;
}

.signup-intro {
    background-image: url('../images/sprint/yura_progs_edited.jpg');
    background-size: cover;
    height: 60em;
    background-position: center;

}
.agenda {
    background-color: rgb(56,158,171);
}
.agenda h1 {
    color: #ffffff;
}
.agenda-table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 1em;
    border-collapse: separate;
}
.agenda-table td:first-child {
    color: #ffffff;
    background-color: rgb(88,51,94);
    border: 1px solid rgb(254,206,131);
    width: 20%;
    text-align: center;
}
.agenda-table td:last-child {
    color: rgb(88,51,94);
    background-color: rgb(254,206,131);
    border: none;
}
footer {
    text-align: center;
}
footer img {
    height: 6rem;
    margin: 0 2rem;
}

.fl-theme-prefsEditor-bw .introduction,
.fl-theme-prefsEditor-bw .signup-intro,
.fl-theme-prefsEditor-by .introduction,
.fl-theme-prefsEditor-by .signup-intro,
.fl-theme-prefsEditor-bw .agenda,
.fl-theme-prefsEditor-by .agenda {
    border-color: #000000 !important;
}
.fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-yb .signup-intro,
.fl-theme-prefsEditor-yb .agenda {
    border-color: #ffff00 !important;
}
.fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-wb .signup-intro,
.fl-theme-prefsEditor-wb .agenda {
    border-color: #ffffff !important;
}
.fl-theme-prefsEditor-lgdg .introduction,
.fl-theme-prefsEditor-lgdg .signup-intro,
.fl-theme-prefsEditor-lgdg .agenda {
    border-color: #bdbdbb !important;
}
.fl-theme-prefsEditor-bw .intro-blurb, .fl-theme-prefsEditor-wb .intro-blurb,
.fl-theme-prefsEditor-by .intro-blurb, .fl-theme-prefsEditor-yb .intro-blurb,
.fl-theme-prefsEditor-lgdg .intro-blurb,
.fl-theme-prefsEditor-bw .signup-blurb,.fl-theme-prefsEditor-wb .signup-blurb,
.fl-theme-prefsEditor-by .signup-blurb,.fl-theme-prefsEditor-yb .signup-blurb,
.fl-theme-prefsEditor-lgdg .signup-blurb {
    top: 0;
}
.fl-theme-prefsEditor-bw .introduction, .fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-by .introduction, .fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-lgdg .introduction,
.fl-theme-prefsEditor-bw .signup-intro, .fl-theme-prefsEditor-wb .signup-intro,
.fl-theme-prefsEditor-by .signup-intro, .fl-theme-prefsEditor-yb .signup-intro,
.fl-theme-prefsEditor-lgdg .signup-intro,
.fl-theme-prefsEditor-bw .agenda, .fl-theme-prefsEditor-wb .agenda,
.fl-theme-prefsEditor-by .agenda, .fl-theme-prefsEditor-yb .agenda,
.fl-theme-prefsEditor-lgdg .agenda {
    background-image: none;
    border: 1px solid;
}

.fl-theme-prefsEditor-bw .introduction, .fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-by .introduction, .fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-lgdg .introduction {
    height: 25em;
}
.fl-theme-prefsEditor-bw .signup-intro, .fl-theme-prefsEditor-wb .signup-intro,
.fl-theme-prefsEditor-by .signup-intro, .fl-theme-prefsEditor-yb .signup-intro,
.fl-theme-prefsEditor-lgdg .signup-intro {
    height: 20em;
}
.fl-theme-prefsEditor-bw .agenda, .fl-theme-prefsEditor-wb .agenda,
.fl-theme-prefsEditor-by .agenda, .fl-theme-prefsEditor-yb .agenda,
.fl-theme-prefsEditor-lgdg .agenda {
    padding: 2em 10em;
}
