
/* A11y Sprint styles */

body {
    background-color: rgb(254, 206, 136); /* orange-yellow */
}

body, h1{
    color: #633b5e; /* purple */
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-weight: bold;
}

footer, header {
    background-color: rgb(254, 206, 136); /* orange-yellow */
    width: 100%;
    clear:both;
}

button:focus,
a:focus {
    outline: 0.2rem solid #000;
}

header h1 {
    margin: 0;
    padding: 1rem 0;
    font-weight: normal;
    font-size: 2rem;
}

nav a {
    margin: 0.5rem 0 0.2rem 0;
    color: #144f4d; /* dark blue */
    text-decoration: none;
}
nav a:hover,
nav a:focus {
/*    font-weight: bold;  remove for now*/
}

.sprint-columns{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

/* Large screens */
@media only screen and (min-width: 64.063em) {
    .sprint-columns{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

.circle {
    position: relative;
    border-radius: 100rem;
}

.purple-circle {
    background-color: rgba(99,59,94,0.8);
    height: 35rem;
    width: 35em;
}

.blue-circle {
    background-color: #4197A7; /* blue */
    height: 30rem;
    width: 30rem;
}

.yellow-circle {
    background-color: #fece88; /* yellow */
    height: 16rem;
    width: 16rem;
}

header.show-for-large-up nav{
    padding-top: 1.8rem;
}

header.show-for-large-up nav a {
    font-weight: bold;
}

header.hide-for-large-up nav {
    background-color: #fff;
}

header.hide-for-large-up .title{
    margin-left:0.2rem;
}
header.hide-for-large-up h1,
header.hide-for-large-up nav {
    padding: 1rem 0.5rem;
}

header.hide-for-large-up nav a{
    font-size: 1.5rem;
}

.title {
    padding:0;
}

.title-logo {
    margin-top:1.2rem;
    margin-right:0.7rem;
}

.title-logo-purple-circle {
    background-color: rgba(99,59,94,0.7); /* purple */
    width:1.5rem;
    height:1.5rem;
}

.title-logo-red-circle {
    background-color: rgba(241,128,137,0.7); /* red */
    width:1rem;
    height:1rem;
    top:-1.3rem;
    left:1rem;
}

.title-logo-blue-circle {
    background-color: rgba(65,151,167,0.7); /* blue */
    width:1.8rem;
    height:1.8rem;
    top:-1.8rem;
    left:0.4rem;
}

.introduction {
    clear: both;
    background-image: url('../images/sprint/colin_mouse_edited.jpg');
    background-size: cover;
    height: 60rem;
    background-position: center;
}
.introduction h2,
.introduction p {
    color: #dff2f8; /*robin's egg blue*/
}

.introduction-circles {
    top: 5rem;
}

.introduction-circles .purple-circle,
.signup-circles .purple-circle {
    padding: 5rem;
    z-index: 1; /*make sure this circle is on top so text isn't covered */
}

.introduction-circles .blue-circle{
    left: -15rem;
    top: -20rem;
    opacity: 0.7;
}

.introduction-circles .yellow-circle{
    left: 20rem;
    top:-37rem;
    opacity: 0.7;
}

.introduction-circles,
.signup-circles {
    color: #ffffff;
    padding: 3rem 1rem 2rem 1rem;
    margin: 0 auto;
    width: 30rem;
}

.signup-circles .blue-circle {
    top: -41rem;
    left: -3rem;
}

.signup-circles .yellow-circle {
    top: -57rem;
    left: -5rem;
}

.signup-circles p,
.signup-circles h2 {
    color: #fece88; /* yellow */

}

.signup-circles {
    height: 100%;
}

.signup-background{
    background-image: url('../images/sprint/yura_progs_edited.jpg');
    background-size: cover;
    background-position: center;
    height: 40rem;
}

.signup-circles a {
    color: #fff;
    text-decoration: underline;
}

.signup-circles a:hover {
    color: #633b5e; /*purple */
    background-color: #fece88;
}

.signup-skills,
.about {
    background-color: #fff;
    padding: 5em 10em;
}

.about p,
.about ul {
    line-height: 2.2rem;
}

.agenda {
    padding: 5em 10em;
}
.partners {
    padding: 5em 10em;
}

.partners a:hover {
    background-color: #633b5e; /*purple*/
}

a .partner-org {
    color: #144f4d;
}

a .partner-attendee {
    color: #221f20;
}

a:hover .partner-org {
    color: #fece88;
}

a:hover .partner-attendee {
    color: #fff;
}

.about ul,
.about h1,
.agenda h1,
.partners h1 {
    margin-left: 4rem;
}

.agenda {
    background-color: rgb(56,158,171);
}
.agenda h1 {
    color: #ffffff;
}
.agenda-table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 1em;
    border-collapse: separate;
}
.agenda-table td:first-child {
    color: #ffffff;
    background-color: rgb(88,51,94);
    border: 1px solid rgb(254,206,131);
    width: 20%;
    text-align: center;
}
.agenda-table td:last-child {
    color: rgb(88,51,94);
    background-color: rgb(254,206,131);
    border: none;
}
footer {
    text-align: center;
    padding: 2rem 0 4rem 0;
}

.footer-logos {
    width: 45rem;
    margin: 0 auto;
}

.footer-logos a {
    display: inline-block;
    width: 13rem;
}

.footer-logos div {
    height: 6rem;
    width: 10rem;
    margin: 0 auto;
}

div[role="img"] {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-position: center;
}

#idi-logo {
    background-image: url("../images/sprint/idi.png");
}

#idrc-logo {
    background-image: url("../images/sprint/idrc.png");
}

#nroc-logo {
    background-image: url("../images/sprint/nroc.png");
}


/* Contrast themes */
.fl-theme-prefsEditor-yb a:focus {
    outline-color: #ffff00;
}

.fl-theme-prefsEditor-wb a:focus {
    outline-color: #ffffff;
}

.fl-theme-prefsEditor-lgdg a:focus {
    outline-color: #bdbdbb;
}

.fl-theme-prefsEditor-bw .introduction,
.fl-theme-prefsEditor-bw .signup-intro,
.fl-theme-prefsEditor-by .introduction,
.fl-theme-prefsEditor-by .signup-intro,
.fl-theme-prefsEditor-bw .agenda,
.fl-theme-prefsEditor-by .agenda {
    border-color: #000000 !important;
}
.fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-yb .signup-intro,
.fl-theme-prefsEditor-yb .agenda {
    border-color: #ffff00 !important;
}
.fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-wb .signup-intro,
.fl-theme-prefsEditor-wb .agenda {
    border-color: #ffffff !important;
}
.fl-theme-prefsEditor-lgdg .introduction,
.fl-theme-prefsEditor-lgdg .signup-intro,
.fl-theme-prefsEditor-lgdg .agenda {
    border-color: #bdbdbb !important;
}
.fl-theme-prefsEditor-bw .intro-blurb,
.fl-theme-prefsEditor-wb .intro-blurb,
.fl-theme-prefsEditor-by .intro-blurb,
.fl-theme-prefsEditor-yb .intro-blurb,
.fl-theme-prefsEditor-lgdg .intro-blurb,
.fl-theme-prefsEditor-bw .signup-blurb,
.fl-theme-prefsEditor-wb .signup-blurb,
.fl-theme-prefsEditor-by .signup-blurb,
.fl-theme-prefsEditor-yb .signup-blurb,
.fl-theme-prefsEditor-lgdg .signup-blurb {
    top: 0;
}
.fl-theme-prefsEditor-bw .introduction,
.fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-by .introduction,
.fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-lgdg .introduction,
.fl-theme-prefsEditor-bw .signup-background,
.fl-theme-prefsEditor-wb .signup-background,
.fl-theme-prefsEditor-by .signup-background,
.fl-theme-prefsEditor-yb .signup-background,
.fl-theme-prefsEditor-lgdg .signup-background,
.fl-theme-prefsEditor-bw .agenda,
.fl-theme-prefsEditor-wb .agenda,
.fl-theme-prefsEditor-by .agenda,
.fl-theme-prefsEditor-yb .agenda,
.fl-theme-prefsEditor-lgdg .agenda {
    background-image: none;
}

.fl-theme-prefsEditor-bw .introduction,
.fl-theme-prefsEditor-wb .introduction,
.fl-theme-prefsEditor-by .introduction,
.fl-theme-prefsEditor-yb .introduction,
.fl-theme-prefsEditor-lgdg .introduction {
    height: 40rem;
}
.fl-theme-prefsEditor-bw .signup-intro, .fl-theme-prefsEditor-wb .signup-intro,
.fl-theme-prefsEditor-by .signup-intro, .fl-theme-prefsEditor-yb .signup-intro,
.fl-theme-prefsEditor-lgdg .signup-intro {
    height: 20em;
}
.fl-theme-prefsEditor-bw .agenda, .fl-theme-prefsEditor-wb .agenda,
.fl-theme-prefsEditor-by .agenda, .fl-theme-prefsEditor-yb .agenda,
.fl-theme-prefsEditor-lgdg .agenda {
    padding: 2em 10em;
}

.fl-theme-prefsEditor-bw .circle, .fl-theme-prefsEditor-wb .circle,
.fl-theme-prefsEditor-by .circle, .fl-theme-prefsEditor-yb .circle,
.fl-theme-prefsEditor-lgdg .circle {
    background: none !important;
}

.fl-theme-prefsEditor-bw .signup-circles,
.fl-theme-prefsEditor-wb .signup-circles,
.fl-theme-prefsEditor-by .signup-circles,
.fl-theme-prefsEditor-yb .signup-circles,
.fl-theme-prefsEditor-lgdg .signup-circles,
.fl-theme-prefsEditor-bw .signup-circles .purple-circle,
.fl-theme-prefsEditor-wb .signup-circles .purple-circle,
.fl-theme-prefsEditor-by .signup-circles .purple-circle,
.fl-theme-prefsEditor-yb .signup-circles .purple-circle,
.fl-theme-prefsEditor-lgbg .signup-circles .purple-circle {
    padding: 0;
    height: auto;
}

.fl-theme-prefsEditor-bw .signup-circles .yellow-circle,
.fl-theme-prefsEditor-wb .signup-circles .yellow-circle,
.fl-theme-prefsEditor-by .signup-circles .yellow-circle,
.fl-theme-prefsEditor-yb .signup-circles .yellow-circle,
.fl-theme-prefsEditor-lgdg .signup-circles .yellow-circle,
.fl-theme-prefsEditor-bw .signup-circles .blue-circle,
.fl-theme-prefsEditor-wb .signup-circles .blue-circle,
.fl-theme-prefsEditor-by .signup-circles .blue-circle,
.fl-theme-prefsEditor-yb .signup-circles .blue-circle,
.fl-theme-prefsEditor-lgdg .signup-circles .blue-circle {
    display: none;
}

.fl-theme-prefsEditor-bw .signup-background,
.fl-theme-prefsEditor-wb .signup-background,
.fl-theme-prefsEditor-by .signup-background,
.fl-theme-prefsEditor-yb .signup-background,
.fl-theme-prefsEditor-lgdg .signup-background {
    height: auto;
}

.fl-theme-prefsEditor-bw #idi-logo,
.fl-theme-prefsEditor-by #idi-logo {
    background-image: url("../images/sprint/bw-idi.png");
}

.fl-theme-prefsEditor-wb #idi-logo{
    background-image: url("../images/sprint/wb-idi.png");
}

.fl-theme-prefsEditor-yb #idi-logo{
    background-image: url("../images/sprint/yb-idi.png");
}

.fl-theme-prefsEditor-lgdg #idi-logo{
    background-image: url("../images/sprint/lgdg-idi.png");
}

.fl-theme-prefsEditor-bw #idrc-logo,
.fl-theme-prefsEditor-by #idrc-logo {
    background-image: url("../images/sprint/bw-idrc.png");
}

.fl-theme-prefsEditor-wb #idrc-logo{
    background-image: url("../images/sprint/wb-idrc.png");
}

.fl-theme-prefsEditor-yb #idrc-logo{
    background-image: url("../images/sprint/yb-idrc.png");
}

.fl-theme-prefsEditor-lgdg #idrc-logo{
    background-image: url("../images/sprint/lgdg-idrc.png");
}

.fl-theme-prefsEditor-bw #nroc-logo,
.fl-theme-prefsEditor-by #nroc-logo {
    background-image: url("../images/sprint/bw-nroc.png");
}

.fl-theme-prefsEditor-wb #nroc-logo{
    background-image: url("../images/sprint/wb-nroc.png");
}

.fl-theme-prefsEditor-yb #nroc-logo{
    background-image: url("../images/sprint/yb-nroc.png");
}

.fl-theme-prefsEditor-lgdg #nroc-logo{
    background-image: url("../images/sprint/lgdg-nroc.png");
}


/* UIO Tweaks */
.fl-prefsEditor-separatedPanel-iframe {
    width: 100%;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset,
.sprint .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    min-height: 2.5rem;
}

.sprint p,
.sprint h1,
.sprint h2,
.sprint ul {
    line-height: inherit;
    /* UIO line space adjuster does not work with Foundation.
       To work around this, specify line-height to inherit from
       the parent. */
}
