
@font-face {
    font-family: 'Roboto Slab';
    src:url('fonts/RobotoSlab-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Clearfix courtesy of CSS Tricks http://css-tricks.com/snippets/css/clear-fix/
 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearleft, .clearl, .cleft {
    clear: left;
}
.clearright, .clearr, .cright {
    clear: right;
}
.clear, .clearboth, .clearall {
    clear: both;
}
.floatleft, .fleft, .floatl {
    float: left;
    margin: 0 10px 5px 0;
}
.floatright, .fright, .floatr {
    float: right;
    margin: 0 0 5px 10px;
}
*/

body {
    background: #fafafa;
}


#skip a,
#skip a:hover,
#skip a:visited {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
#skip a:active,
#skip a:focus {
    height: auto;
    position: static;
    width: auto;
}

.floe {
    font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
    width: 76em;
    margin: 0 auto;
}

/* FLOE Header area, tagline, and logo. */
.floe-header {
    margin-left: 1.8em;
    margin-top: 0.6em;
    height: 4em;
    display: inline-block;
}

.floe-header h1 {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    float: left;
    line-height: 0.45;
    margin: 0.2em 0 0 0.2em;
    font-size: 4em;
}
.floe-header img {
    float: left;
}
.floe-header a {
    background-color: none;
    color: #000000;
    text-decoration: none;
}

.floe-header-tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.4em;
    margin-top: 0.7em;
    display:block;
}

.floe-header nav {
    float: right;
}
.floe-header nav ul li {
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    padding: 0.5em;
}
.floe-header nav ul li.active {
    background-color: #FFFFFF;
    border: 2px solid #FFCB00;
}
.floe-header nav ul li a {
}
.floe-header nav ul li a:hover,
.floe-header nav ul li a:focus {
    background-color: #FFCB00;
}

/* FLOE Content Containers - not header. Header has its own styles above. */
.floe-content {
    font-family: 'Roboto Slab', serif;
    clear: both;
    margin: 0 auto;
    padding: 1.5em;
}

.floe-content a:link,
.floe-content a:visited {
    border-bottom: 1px dotted #004357;
    color: #0379AF;
    text-decoration: none;
}
.floe-content a:hover,
.floe-content a:active {
    background-color: #D4EDEC;
    border-bottom: 1px dotted #004357;
    color: #004357;
}


.floe-content .floe-more-link {
    font-weight: bold;
}


.floe-content h1,
.floe-content h2,
.floe-content h3 {
    line-height: 1.3;
}

.floe-content h1 {
    font-size: 3.6em;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0.5em;
}

.floe-content h2 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0;
}
.floe-content h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}
.floe-content ul,
.floe-content ol,
.floe-content dl,
.floe-content dd {
    margin-left: 0;
}

.floe-content dt {
    margin: 1.2em 0 0.4em 0;
    font-weight:bold;    
}

.floe-content p {
    line-height: 1.6;
}

.floe-content .floe-date {
    color: #585858;
    font-weight: bold;
    margin-bottom: 7px;
}

.floe-content .floe-column {
    width: 48%;
    float: left;
    padding: 0 0.9em;
    width: 46.6%;
}


/* BEGIN The grid of featured work */
.floe-featured-list {
    list-style: none outside none;
    height:41em;
    font-size: 1.2em;
}

.floe-featured-list .floe-feature-header {
    background-color: rgba(255,255,255,0.5);
    display: block;
    margin-bottom: 0.2em;
}

.floe-featured-list .floe-featured-text .floe-feature-header-link{
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border: 0;
}

.floe-featured-list .floe-feature-links {
    font-size: 1.0em;
    font-weight: bold;
}

.floe-featured-list .floe-project-title {
    color: #F37021;
    background: none;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
}

.floe-featured-list>li {
    display: block;
    float: left;
    list-style: none outside none;
    width: 48%;
    height: 15em;
    margin: 0.4em;
}

.floe-feature-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
}

.floe-feature-overlay img{
    width: 100%;
    height: auto;
}

.floe-feature-ui-options .floe-feature-overlay {
    background-color: #fdff84;
}

.floe-feature-videoplayer .floe-feature-overlay {
    background-color: #84d4cd;
}

.floe-feature-metadata .floe-feature-overlay {
    background-color: #8ad484;
}

.floe-featured-text {
    background-color: rgba(255,255,255,0.5);
    height: 36%;
    position: relative;
    top: -6em;
    padding: 0.3em;
}
/* END The grid of featured work */


/* FLOE bottom content container */

.floe-bottom-content {
    background-color: #e6e6e6;
}

.floe-bottom-content .floe-content{
   padding-top: 0; 
}


/* FLOE Footer - contact and organization info. */
.floe-footer {
    background-color: #333;
}

.floe-footer .floe-content {
    color: #fff;
    line-height: 1.7;
}

.floe-footer .floe-content a {
    color: #fccd00;
    border-color: #fccd00;
}

.floe-footer .floe-content a:hover {
    background: none;
    text-decoration: none;
    color: #000000;
    background-color: #fccd00;
}

.floe-footer .floe-content .floe-image-link {
    border: 0;
}

.floe-footer .floe-content .floe-image-link img {
    margin-top: 0.7em;
    border: 1px solid #fff;
}

/* News and News Items */
.floe-news-item {
    margin-bottom: 2em;
    font-size: 1.2em;
}

.floe-news-item ul {
    margin-left: 2em;
}

.floe-news-item h3 {
    background-color: #efefef;
}

/* "Floe Story" page */
.floe-story * {
    font-family: 'Roboto Slab', serif;
}
.floe-story {
    font-size: 1.2em;
}
.floe-story > ul {
    overflow: auto;
    margin-bottom: 7em;
}
.floe-story  > ul > li {
    display: block;
    float: left;
    list-style: none outside none;
    margin-right: 4em;
    width: 21em;
}
.floe-story  > ul > li img {
    width: 21em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.floe-story h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}
.floe-content.floe-story h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-style: italic;
}
.floe-content.floe-story a {
    font-weight: bold;
    color: #000000;
    background-color: #FFCB00;
    text-decoration: none;
    border-bottom: none;
    padding: 0.2em 0.4em;
}
.floe-content.floe-story a:hover,
.floe-content.floe-story a:focus {
    color: #FFCB00;
    background-color: #000000;
}

.floe-story-cloud {
    margin-top: 12em;
}
.floe-image-caption {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 0.8em;
    font-size: 0.8em;
}
.floe-image-caption-heading {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 0.85em;
    margin-bottom: 0;
}
.floe-story-textBeside {
    margin-top: 1em;
}
