{% set homeUrl = "/" %}

<a rel="home" title="Home" class="site-brand" href="{{ homeUrl }}" {% if page.url === homeUrl %} aria-current="page"{% endif %}>
    <span class="site-brand-logo">{% svg_sprite "logo-floe", "FLOE Project logo", false %}</span>
</a>
