<nav aria-label="menu">
    <ul>
        <li><a href="/news/index.html">News</a></li>
        <li><a href="/resources.html">Resources</a></li>
        <li><a href="/ui-options.html">UI Options</a></li>
    </ul>
</nav>
