<li class="post card-layout corner-effect">
    {% if project.data.thumbnailFilename %}
        {% set thumbnail = 'images/' + project.data.thumbnailFilename %}
        {# TODO: figure out why the Sharp plugin calls aren't working #}
        {% set thumbnail1x = thumbnail | resize({width: 570, height: 382, fit: 'cover'}) | png %}
        {% set thumbnail2x = thumbnail | resize({width: 1140, height: 764, fit: 'cover'}) | png %}
        
        {% if project.data.thumbnailAltText %}
            {% set thumbnailAltText = project.data.thumbnailAltText %}
        {% else %}
            {% set thumbnailAltText = "" %}
        {% endif %}

        <img class="thumbnail"
            src="{{ thumbnail }}"
            {# src="{% getUrl thumbnail1x %}" #}
            {# srcset="{% getUrl thumbnail1x %} 1x, {% getUrl thumbnail2x %} 2x" #}
            {# width="570" #}
            {# height="382" #}
            alt="{{ thumbnailAltText }}"
        />
    {% endif %}
    {{ project.templateContent | safe }}
</li>
