<footer>
    <p>
        Floe is a project of the
        <a href="https://idrc.ocadu.ca">Inclusive Design Research Centre</a>, <a href="https://ocadu.ca">OCAD University</a>.
    </p>
    <p>
        Funded by a grant from <a href="https://www.hewlett.org">The William and Flora Hewlett Foundation</a>.
    </p>
    <p>
        Hosted with <a href="https://netlify.com/">Netlify</a>.
    </p>
    <p>
        This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>
    </p>
    <address>
        205 Richmond St. W., Second Floor<br/>
        Toronto, Ontario, Canada<br/>
        M5V 1V3<br/>
        Telephone: (416) 977-6000 #3968<br/>
        Fax: (416) 977-9844
    </address>
    <p>
        <a href="mailto:jtreviranus@faculty.ocadu.ca">Jutta Treviranus</a> Principal Investigator, Director and Professor<br/>
        <a href="mailto:jmitchell@ocadu.ca">Jess Mitchell</a> Senior Manager, Research and Development<br/>
        <a href="mailto:cclark@ocadu.ca">Colin Clark</a> Lead Software Architect
    </p>
</footer>
