<footer class="site-footer">
    <div class="wrapper footer-grid">
        <div class="floe">
            {% svg_sprite "logo-floe-leaf", "FLOE Project leaf icon", false %}
            <p>
                <strong>FLOE</strong> (Flexible Learning for Open Education) is a project of
                <a href="https://idrc.ocadu.ca">The Inclusive Design Research Centre</a> and <a href="https://ocadu.ca">OCAD University</a>.
            </p>
            <p>
                Funded by a grant from <a href="https://www.hewlett.org">The William + Flora Hewlett Foundation</a>.
            </p>
        </div>
        <div>
            <p>
                The FLOE site has been designed with inclusion and accessibility as key guiding principles. Find out more on our <a href="/accessibility/">Accessibility page</a>.
            </p>
            <p>
                <a href="/privacy/">Our open access and privacy policy.</a>
            </p>
        </div>
        <div class="cc">
            <div class="cc-icons">
                {% svg_sprite "cc-logo" %}
                {% svg_sprite "cc-by" %}
            </div>
            <p>
                This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>
            </p>
        </div>
        <p class="netlify">
            Hosted with <a href="https://netlify.com/">Netlify</a>.
        </p>
        <div class="orgs">
            {% svg_sprite "logo-hewlett", "The William and Flora Hewlett Foundation logo", false %}
            {% svg_sprite "logo-idrc-wordmark", "The Inclusive Design Research Centre logo", false %}
            {% svg_sprite "logo-ocadu", "OCAD University logo", false %}
        </div>
    </div>
</footer>
