<header class="site-header">
    {% uioTemplate %}
    <div class="site-header-org">
        <p class="wrapper">
            <span>An <a href="{{ site.authorWebsite }}">Inclusive Design Research Centre</a> project<span>
        </p>
    </div>
    <div class="site-header-nav">
        <div class="wrapper position-relative">
            {% include "partials/components/brand.njk" %}
            {% include "partials/components/navigation.njk" %}
        </div>
    </div>
</header>
