<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="{% if title %} {{ title }} | {% endif %} {{ site.name }}">
<meta property="og:description" content="{{ site.shortDesc }}">
<meta property="og:locale" content="en">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
