{% uioScripts %}
<script defer src="/assets{{ assets['/scripts/matomo.js'] }}"></script>
<script defer src="/assets{{ assets['/scripts/app.js'] }}"></script>
<script defer src="/assets{{ assets['/scripts/card.js'] }}"></script>
