<link href="/assets{{ assets['/styles/app.css'] }}" media="all" rel="stylesheet" type="text/css" />

{# eleventy-plugin-fluid/issues/81 - manually adding fluid.css #}
<link rel="stylesheet" href="/lib/infusion/src/framework/core/css/fluid.css">

{% uioStyles %}
