{% extends "layouts/base.njk" %}
{% block content %}
    <div id="content" class="index-content">
        <aside>
            <h2>Please Note</h2>
            {{ notice }}
        </aside>

        {{ content | safe }}
    </div>
{% endblock %}
