<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{% if title %} {{ title | safe }} {% else %} {{ site.title }} {% endif %} | {{ site.name }}</title>

        {% include "partials/global/meta.njk" %}
        {% include "partials/global/icons.njk" %}


        {% include "partials/global/stylesheets.njk" %}

        {% include "partials/global/scripts.njk" %}
    </head>
    <body>
        {% uioTemplate %}
        <div id="skip">
            <a href="#content">Skip to Content</a>
        </div>
        {% include "partials/global/header.njk" %}
        <main>
            {% block pageHeader %}
                <header>
                    <h1>{{ title | safe }}</h1>
                </header>
            {% endblock %}
            <nav class="flc-toc-tocContainer"></nav>
            {% block content %}
                <div id="content">
                    {{ content | safe }}
                </div>
            {% endblock %}
        </main>
        {% include "partials/global/footer.njk" %}
        {% uioInit %}
    </body>
</html>
