<!-- Skip Link -->
<nav class="fl-inverted-color">
    <a id="skip-to-content" href="#content">{{ _("Skip to Content") }}</a>
</nav>
<!-- END skip link -->

<header class="ignore-for-TOC site-header header-footer-bg header-footer-color fl-inverted-color">
    {% include "partials/uio.njk" %}

    <div class="menus">
        {% include 'partials/language.njk' %}
        {% include 'partials/nav-mobile.njk' %}
    </div>

    <div class="wrapper">
        <a class="banner" href="/{% if not (locale === config.defaultLanguage) %}{{ config.languages[locale].slug }}{% endif %}" title="{{ _i("Home: ${siteName}", {siteName: _(site.title)}) }}">
            <span class="banner-logo">
                {% svg_sprite "logo-idrc" %}
            </span>
            <span class="banner-heading">{{ _(site.title) }}</span>
        </a>

        {% include 'partials/nav-desktop.njk' %}

    </div>


</header>
