{% extends "layouts/base.njk" %}

{% set pageType = "page-index" %}

{% block content %}
    <div id="content" class="index-content">
        {{ content | safe }}

        <section>
            <h2>News</h2>
            {% include "partials/components/latest-news.njk" %}
            <a href="/news/">Other news items</a>
        </section>

        <section class="featured-projects">
            <h2>Featured Projects</h2>
            {% projects collections.featured %}
        </section>
    </div>
{% endblock %}
