{% extends "layouts/base.njk" %}

{% block content %}
    <ul id="content" class="grid-layout posts-{{ eleventyNavigation.key | lower }}">
        {% for post in posts %}
            {% include "partials/components/news-item.njk" %}
        {% endfor %}
    </ul>

    {% if pagination.pages.length > 1 %}
        <nav aria-label="pagination">
            <ol class="pagination inline-list">
                {% if pagination.href.previous %}
                    <li class="pagination-previous"><a href="{{ pagination.href.previous }}">Newer</a></li>
                {% endif %}
                {% if pagination.href.next %}
                    <li class="pagination-next"><a href="{{ pagination.href.next }}">Older</a></li>
                {% endif %}
            </ol>
        </nav>
    {% endif %}
{% endblock %}
