{% extends "layouts/base.njk" %}

{% set pageType = "page-posts-paged" %}

{% block content %}
    <ul id="content" class="grid-layout posts-{{ eleventyNavigation.key | lower }}">
        {% for post in posts %}
            {% include "partials/components/news-item.njk" %}
        {% endfor %}
    </ul>

    {% include "partials/components/pagination.njk" %}
{% endblock %}
