{% extends "layouts/base.njk" %}

{% set pageType = "page-projects" %}

{% block content %}
    <ul id="content" class="content grid-layout posts-{{ eleventyNavigation.key | lower }}">
        {# Featured Projects #}
        {% for project in posts %}
            {#
                Project items are included directly here rather than in a partial
                template due to an apparent race condition with the Sharp plugin.
            #}
            <li class="post card-layout corner-effect">
                {% if project.data.thumbnailFilename %}
                    {% if project.data.thumbnailAltText %}
                        {% set thumbnailAltText = project.data.thumbnailAltText %}
                    {% else %}
                        {% set thumbnailAltText = "" %}
                    {% endif %}

                    {% set thumbnail = 'src/collections/projects/images/' + project.data.thumbnailFilename | safe %}
                    {% set thumbnail1x = thumbnail | resize({width: 500, height: null, fit: 'cover' }) | png %}
                    <img class="thumbnail" src="{% getUrl thumbnail1x %}" alt="{{ thumbnailAltText }}" />
                {% endif %}
                {{ project.templateContent | safe }}
            </li>
        {% endfor %}
    </ul>

    {% set paginationPreviousText = "Prev" %}
    {% set paginationNextText = "Next" %}
    {% include "partials/components/pagination.njk" %}
{% endblock %}
