---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ config.url }}/sitemap.xml

User-Agent: *
Disallow: /404.html
Disallow: /admin/
Disallow: /lib/

User-agent: GPTBot
Disallow: /
