name: Eleventy Build

on:
  push:
    branches:
      - eleventy

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 13.9.0

      - run: npm ci

      - run: npm run build
