name: Lint and build

on:
  pull_request:
    branches: [main]

jobs:
  lint-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
        env:
          CI: true
      - name: Lint files
        run: npm run lint
        env:
          CI: true
      - name: Build site
        run: npm run build
        env:
          CI: true

