<footer class="floe-footer">
    <div class="floe-content row">
        <div class="columns large-6 small-12" id="test2">
            <div>
                <p>
                    Floe is a project of the
                    <a href="http://idrc.ocadu.ca">Inclusive Design Research Centre</a>, <a href="http://ocadu.ca">OCAD University</a>.<br/>
                </p>
                <p>
                    <span class="floe-hewlett-logo">Funded by a grant from <a href="http://www.hewlett.org">The William and Flora Hewlett Foundation</a>.</span>
                </p>
            </div>
        </div>

        <div class="columns large-6 small-12">
            <div>
                <address>
                    205 Richmond St. W., Second Floor<br/>
                    Toronto, Ontario, Canada<br/>
                    M5V 1V3<br/>
                    Telephone: (416) 977-6000 #3968<br/>
                    Fax: (416) 977-9844
                </address>
                <p>
                    <a href="mailto:jtreviranus@faculty.ocadu.ca">Jutta Treviranus</a> Principal Investigator, Director and Professor<br/>
                    <a href="mailto:jmitchell@ocadu.ca">Jess Mitchell</a> Senior Manager, Research and Development<br/>
                    <a href="mailto:cclark@ocadu.ca">Colin Clark</a> Lead Software Architect
                </p>
            </div>
        </div>
    </div>
</footer>
