<div class="row">
    <div class="columns small-12 medium-12 large-7">
        <header class="floe-header">
            <h1><a rel="home" title="Home" href="{{ '/' | url }}index.html" class="floe-header-logo">floe
                <span class="floe-header-tagline">
                    flexible learning for open education
                </span></a>
            </h1>
        </header>
    </div>
    <div class="columns small-12 medium-12 large-5 align-self-bottom">
        <nav class="floe-nav">
            <ul>
                <li><a href="{{ '/' | url }}./posts/index.html">News</a></li>
                <li><a href="{{ '/' | url }}./resources.html">Resources</a></li>
                <li><a href="{{ '/' | url }}./uioptions.html">UI Options</a></li>
            </ul>
        </nav>
    </div>
</div>
